<section class="finale on-dark" aria-labelledby="finale-title">
  <svg class="finale__road" viewBox="0 0 1440 360" preserveAspectRatio="xMidYMid slice" aria-hidden="true">
    <path class="road-edge" d="M-40 300 C 260 300, 380 90, 700 90 C 1020 90, 1120 250, 1480 250" />
    <path class="road-asphalt" d="M-40 300 C 260 300, 380 90, 700 90 C 1020 90, 1120 250, 1480 250" />
    <path class="road-center" d="M-40 300 C 260 300, 380 90, 700 90 C 1020 90, 1120 250, 1480 250" />
  </svg>
  <div class="container finale__inner">
    <h2 class="h1 finale__title" id="finale-title" data-reveal>Bereit für die <span class="finale__em">erste Fahrstunde?</span></h2>
    <div class="actions" data-reveal style="--stagger: 1">
      <a class="btn btn--light" href="/anmeldung/">Jetzt anmelden <svg class="icon icon--move" aria-hidden="true"><use href="/icons/sprite.svg#i-arrow-right" /></svg></a>
      <a class="btn btn--ghost-light" href="tel:+4915560410413"><svg class="icon" aria-hidden="true"><use href="/icons/sprite.svg#i-phone" /></svg> Anrufen</a>
    </div>
  </div>
</section>
